<template>
  <v-dialog v-model="dialog" persistent max-width="700px">
    <v-card class="pa-2">
      <v-card-title class="headline">
        Add Contract
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form" lazy-validation>
          <v-text-field label="Name" v-model="name" :rules="[v => !!v || `Name is required`]" required></v-text-field>
          <v-text-field label="Address" v-model="address" :rules="[v => !!v || `Address is required`, regex.address]" required></v-text-field>
          <v-text-field label="Description" v-model="description"></v-text-field>
          <v-text-field label="ABI" v-model="abi" :rules="[v => !!v || `ABI is required`]" required></v-text-field>
        </v-form>
        <v-alert :type="note !== 'Success!' ? 'error' : 'success'" outline dismissible v-model="alert" transition="scale-transition">
          {{note}}
        </v-alert>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" @click="$refs.form.validate() && add()" :disabled="!valid || loading" :loading="loading">
          submit
        </v-btn>
        <v-btn color="primary" @click="clear">clear</v-btn>
        <v-btn color="primary" @click.stop="$emit('click')">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import API from '@/api'
import validators from '@/validators'
export default {
  name: 'AddContract',
  props: {
    // controls modal spawning
    dialog: Boolean,
    // function to refresh the contract preview page on successful create
    refresh: Function
  },
  data() {
    return {
      // name of the new contract
      name: '',
      // address of the new contract
      address: '',
      // description of the new contract
      description: '',
      // abi of the new contract
      abi: '',
      // used by the vuetify form to aggregate form rules into one variable
      valid: true,
      // spawns the loading spinner when a new contract is submitted
      loading: false,
      // spawns the alert box after a new contract submittion completes
      alert: false,
      // alert text
      note: '',
      // regular expressions for form validation
      regex: {
        address: validators.validAddress
      }
    }
  },
  methods: {
    // posts a new contract (called when the submit button is pressed)
    async add() {
      // spawn the loading spinner
      this.loading = true
      try {
        // hit the server-side contract creation endpoint
        const { result } = await API.createContract({
          name: this.name,
          address: this.address,
          description: this.description,
          abi: JSON.parse(this.abi)
        })
        // record the result as the alert text
        this.note = result
        // refresh the contract preview page so that the new contract is displayed
        this.refresh()
      } catch (err) {
        // if there was an error, display the error as alert text
        const error = err.message.split('.')[0]
        // check if the error is JSON related and report a more appropriate message
        this.note = /Unexpected token.*?in JSON at position/.test(error) ? 'Error: Invalid ABI.' : error
      } finally {
        // spawn the alert box
        this.alert = true
        // stop the loading spinner
        this.loading = false
      }
    },
    clear() {
      // clears all of the form variables
      this.$refs.form.reset()
    }
  }
}
</script>
