<template>
    <v-layout justify-center wrap class="mt-3">
        <v-flex xs11 class="ma-1">
            <v-card>
                <v-card-title primary-title>
                    <v-layout wrap>
                        <v-flex xs6>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-layout align-center>
                                        <v-flex xs1 class="mr-0">
                                            <svg width="40" height="40" preserveAspectRatio="xMidYMid meet">
                                                <path v-for="(d, i) in display" :key="i" :fill="d.fill" :d="d.d"></path>
                                            </svg>
                                        </v-flex>
                                        <v-flex xs11>
                                            <h3 class="headline mb-0">{{name}}</h3>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        <v-spacer></v-spacer>
                        <v-flex xs4 class="text-xs-right mr-5">
                            <CopyButton :content="address" />{{address}}
                        </v-flex>
                        <v-flex xs12 class="grey--text">
                            {{desc}}
                        </v-flex>
                    </v-layout>
                </v-card-title>
                <v-card-text>
                    <v-tabs v-model="active" color="primary" dark slider-color="red accent-3" grow>
                        <v-tab :key="'view'" href="#view" ripple>
                            View
                        </v-tab>
                        <v-tab :key="'execute'" href="#execute" ripple>
                            Execute
                        </v-tab>
                        <v-tab-item id="view" :key="'view'">
                            <v-card flat>
                                <v-card-text>
                                    <v-layout wrap>
                                        <v-flex xs4 class="ma-2">
                                            <v-layout wrap>
                                                <v-flex xs12 class="ma-1" v-for="(v, i) in variables" :key="i">
                                                    <Variable :contract="contract" :name="v" />
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>
                                        <v-flex xs6 class="ma-2">
                                            <v-layout wrap>
                                                <v-flex xs12 class="ma-1" v-for="(v, i) in queries" :key="i">
                                                    <Query :contract="contract" :method="v" />
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                        <v-tab-item id="execute" :key="'execute'">
                            <v-card flat>
                                <v-card-text>
                                    <v-layout wrap>
                                        <v-flex xs6 class="ma-2">
                                            <v-layout wrap>
                                                <v-flex xs12 class="ma-1" v-for="(v, i) in executables" :key="i">
                                                    <Execute :contract="contract" :method="v" />
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                    </v-tabs>
                    <v-divider></v-divider>
                    <Events v-if="contract.events" :events="functions.events" :contract="contract" />
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import API from '@/api'
import Variable from '@/components/functions/Variable'
import Query from '@/components/functions/Query'
import Execute from '@/components/functions/Execute'
import CopyButton from './CopyButton.vue'
import Events from '@/components/functions/Events.vue'
import jdenticon from 'jdenticon'
// Displays detailed contract information and facilitates contract interaction
export default {
  name: 'Contract',
  props: {
    // address of the contract being looked at
    address: String
  },
  data() {
    return {
      // placeholder for contract information
      contract: {},
      // placeholder for contract abi
      abi: {},
      // name of the contract
      name: '',
      // contract description
      desc: '',
      // controls the active tab on page load (defaults to the view tab)
      active: 'view',
      // placeholder for contract identicon display
      display: [],
      // placeholder for contract methods (seperated by category)
      functions: {
        // read-only methods
        view: [],
        // methods that accept payment
        payable: [],
        // write methods that dont accept payment
        nonpayable: [],
        // contract events
        events: []
      }
    }
  },
  components: { Variable, Query, Execute, CopyButton, Events },
  mounted() {
    // get contract details on page load
    this.getContract()
  },
  computed: {
    // extracts read-only methods that don't have inputs to be called immediately
    variables: function() {
      // sorts by name
      return this.functions.view
        .filter(v => v.inputs.length < 1)
        .map(f => f.name)
        .sort()
    },
    queries: function() {
      // extracts read-only methids that have at least one input
      // sorts by name
      return this.functions.view.filter(v => v.inputs.length > 0).sort(this.sortByName)
    },
    executables: function() {
      // sorts all write methods by name
      return this.functions.payable.concat(this.functions.nonpayable).sort(this.sortByName)
    },
    sortByName: function() {
      return (a, b) => {
        if (a.name < b.name) return -1
        if (a.name > b.name) return 1
        return 0
      }
    }
  },
  methods: {
    getContract() {
      API.getContract(this.address).then(({ contract }) => {
        this.abi = JSON.parse(contract.abi)
        this.contract = new window.web3.eth.Contract(this.abi, this.address)
        this.name = contract.name
        this.desc = contract.description
        // use the contract address to create the identicon
        const svg = jdenticon.toSvg(contract.address, 40)
        // extract fill colors
        const fill = svg.match(/fill="(.*?)"/g)
        // extract path lines
        const d = svg.match(/d="(.*?)"/g)
        // bundle svg display paramaters
        this.display = fill.map((f, i) => {
          return {
            fill: f.replace(/"/g, '').replace('fill=', ''),
            d: d[i].replace(/"/g, '').replace('d=', '')
          }
        })
        // reset function states
        this.functions = {
          view: [],
          payable: [],
          nonpayable: [],
          events: []
        }
        // extract and organize functions by category (read-only, write, payable)
        // filters functions using the type attribute
        // categorizes functions using the state mutability attribute
        this.abi
          .filter(
            ({ type, stateMutability }) =>
              type === 'function' && ['view', 'payable', 'nonpayable'].includes(stateMutability)
          )
          .forEach(({ name, inputs, stateMutability }) => {
            this.functions[stateMutability].push({ name, inputs, stateMutability })
          })
        // extracts events using the type attribute
        this.abi.filter(({ type }) => type === 'event').forEach(({ name, inputs }) => {
          this.functions.events.push({ name, inputs })
        })
        console.log(this.contract)
      })
    }
  }
}
</script>
