<template>
    <span>
        <v-btn small flat icon @click="copy">
            <v-icon small>content_copy</v-icon>
        </v-btn>
        <v-snackbar :timeout="1000" bottom v-model="snackbar">
            {{ `Copied ${content}` }}
            <v-btn flat color="red" @click.native="snackbar = false">Close</v-btn>
        </v-snackbar>
    </span>
</template>

<script>
// stanbard button for copying text as opposed to highlighting with a mouse
export default {
  name: 'CopyButton',
  props: {
    // the content to be copied
    content: String
  },
  data() {
    return {
      // controls the snackbar that reports successful copies
      snackbar: false
    }
  },
  methods: {
    // initates a copy (called when the copy button is pressed)
    copy() {
      // create a dummy input box
      const dummy = document.createElement('input')
      // place the dummy input box on the document
      document.body.appendChild(dummy)
      // give the dummy input an id to be referenced later
      dummy.setAttribute('id', 'dummy_id')
      // set the value of the dummy input to our copy content
      document.getElementById('dummy_id').value = this.content
      // select the dummy input
      dummy.select()
      // execute the copy command
      document.execCommand('copy')
      // remove the dummy input
      document.body.removeChild(dummy)
      // spawn the success snackbar
      this.snackbar = true
    }
  }
}
</script>
