<template>
  <v-dialog v-model="dialog" persistent max-width="700px">
    <v-card class="pa-2">
      <v-card-title class="headline">
        Edit Contract
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form" lazy-validation>
          <v-text-field label="Name" v-model="name" :rules="[v => !!v || `Name is required`]" required></v-text-field>
          <v-text-field label="Address" v-model="address" :rules="[v => !!v || `Address is required`, regex.address]" required disabled></v-text-field>
          <v-text-field label="Description" v-model="description"></v-text-field>
          <v-text-field label="ABI" v-model="abi" :rules="[v => !!v || `ABI is required`]" required disabled></v-text-field>
        </v-form>
        <v-alert :type="note !== 'Success!' ? 'error' : 'success'" outline dismissible v-model="alert" transition="scale-transition">
          {{note}}
        </v-alert>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" @click="$refs.form.validate() && edit()" :disabled="!valid || loading" :loading="loading">
          submit
        </v-btn>
        <v-btn color="primary" @click.stop="$emit('click')">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import API from '@/api'
import validators from '@/validators'
export default {
  name: 'EditContract',
  props: {
    // controls modal spawning
    dialog: Boolean,
    // function to refresh the contract preview page on successful edit
    refresh: Function,
    // address of the contract being edited
    address: String
  },
  data() {
    return {
      // name of the edited contract
      name: '',
      // description of the edited contract
      description: '',
      // abi of the edited contract (currently cannot be changed)
      abi: '',
      // used by the vuetify form to aggregate form rules into one variable
      valid: true,
      // spawns the loading spinner when a new contract is submitted
      loading: false,
      // spawns the alert box after a new contract submittion completes
      alert: false,
      // alert text
      note: '',
      // regular expressions for form validation
      regex: {
        address: validators.validAddress
      }
    }
  },
  mounted() {
    // grabs contract info on modal load
    this.getContract()
  },
  methods: {
    // grab detailed information for contract at specific address
    getContract() {
      // hit the server-side contract read endpoint
      API.getContract(this.address).then(({ contract }) => {
        this.abi = contract.abi
        this.name = contract.name
        this.description = contract.description
      })
    },
    // sends a contract edit request (called when the submit button is pressed)
    async edit() {
      // spawn the loading spinner
      this.loading = true
      try {
        // hit the server-side contract edit endpoint
        const { result } = await API.editContract({
          name: this.name,
          address: this.address,
          description: this.description,
          abi: JSON.parse(this.abi)
        })
        // record the result as the alert text
        this.note = result
        // refresh the contract preview page so the edits are displayed
        this.refresh()
      } catch (err) {
        // if there was an error, display the error as alert text
        const error = err.message.split('.')[0]
        // check if the error is JSON related and report a more appropriate message
        this.note = /Unexpected token.*?in JSON at position/.test(error) ? 'Error: Invalid ABI.' : error
      } finally {
        // spawn the alert box
        this.alert = true
        // stop the loading spinner
        this.loading = false
      }
    }
  },
  watch: {
    address: function() {
      // get information for the new contract when there is an address change
      this.address !== '' && this.getContract()
    }
  }
}
</script>
