<template>
    <v-layout justify-center align-center wrap class="mt-1">
        <v-flex xs1 class="ma-1">
            <v-btn large flat icon @click="create=true">
                <v-icon large>add</v-icon>
            </v-btn>
        </v-flex>
        <v-flex xs12></v-flex>
        <v-flex v-for="(contract, i) in contracts" :key="i" xs3 class="ma-1">
            <v-card hover class="clickable">
                <v-card-text primary-title @click="navigate(contract.address)">
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-layout align-center>
                                <v-flex xs2 class="mr-0">
                                    <svg width="40" height="40" preserveAspectRatio="xMidYMid meet">
                                        <path v-for="(d, i) in contract.display" :key="i" :fill="d.fill" :d="d.d"></path>
                                    </svg>
                                </v-flex>
                                <v-flex xs11>
                                    <h3 class="headline mb-0">{{contract.name}}</h3>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                    <span class="grey--text" @click="navigate(contract.address)">{{contract.address}}</span>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-btn small flat icon color="primary" @click="edit=contract.address">
                        <v-icon small>edit</v-icon>
                    </v-btn>
                    <v-btn small flat icon color="primary" @click="deleteContract(contract.address)" disabled>
                        <v-icon small>delete</v-icon>
                    </v-btn>
                    <CopyButton :content="contract.address" />
                </v-card-actions>
            </v-card>
        </v-flex>
        <AddContract :dialog="create" :refresh="allContracts" @click="create=false" />
        <EditContract :dialog="edit !== ''" :address="edit" :refresh="allContracts" @click="edit=''" />
    </v-layout>
</template>

<script>
// controls contract preview display
// TODO: make contract list searchable
import API from '@/api'
import AddContract from './AddContract.vue'
import EditContract from './EditContract.vue'
import CopyButton from './CopyButton.vue'
import jdenticon from 'jdenticon'
export default {
  name: 'PreviewList',
  data() {
    return {
      // list of all current contracts
      contracts: [],
      // spawns the contract creation modal
      create: false,
      // spawns the contract editing modal (if not empty string)
      edit: ''
    }
  },
  components: { AddContract, CopyButton, EditContract },
  mounted() {
    // grab all contracts at startup
    // TODO: add paginated requests
    this.allContracts()
  },
  methods: {
    allContracts() {
      API.allContracts().then(({ contract }) => {
        this.contracts = contract
        this.contracts.forEach(c => {
          // use the contract address to create the identicon
          const svg = jdenticon.toSvg(c.address, 40)
          // extract fill colors
          const fill = svg.match(/fill="(.*?)"/g)
          // extract path lines
          const d = svg.match(/d="(.*?)"/g)
          // bundle svg display paramaters
          c.display = fill.map((f, i) => {
            return {
              fill: f.replace(/"/g, '').replace('fill=', ''),
              d: d[i].replace(/"/g, '').replace('d=', '')
            }
          })
        })
      })
    },
    navigate(address) {
      // tells the router to go to the contract details page (used when clicking on a contract card)
      this.$router.push({ name: 'Contract', query: { address } })
    },
    deleteContract(address) {
      API.deleteContract(address).then(() => {
        // refetch all contracts after the delete completes
        this.allContracts()
      })
    }
  }
}
</script>
