<template>
  <v-card>
    <v-card-title class="headline">{{`${name}(${inputs.map(i => `${i.name}: ${i.type}`).join(', ')})`}}</v-card-title>
    <v-card-text>
      <v-form v-model="valid" ref="form" lazy-validation>
        <v-text-field v-for="(input, i) in inputs" :key="i" :label="`${input.name}: ${input.type}`" v-model="input.value" :rules="rules(input)"></v-text-field>
        <v-text-field v-if="stateMutability === 'payable'" :label="`Transaction Value`" v-model="inputs.payment" :rules="[validCurrency]" suffix="ETH"></v-text-field>
        <v-alert v-model="alert" :type="alertType" class="mb-3" dismissible outline transition="scale-transition">
          <slot name="result"></slot>
        </v-alert>
        <v-btn color="primary" @click="$refs.form.validate() && $emit('click')" :disabled="!valid || loading" :loading="loading">
          submit
        </v-btn>
        <v-btn color="primary" v-show="inputs.length > 0" @click="clear">clear</v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
// Display form for callable methods with at least one input (including value for payables)
import validators from '@/validators'
export default {
  name: 'Call',
  props: {
    // method details (name, input, state mutability)
    method: Object,
    // alert result
    result: String,
    // controls loading spinner when submit button is pressed
    loading: Boolean
  },
  data() {
    return {
      // used by the vuetify form to aggregate form rules into one variable
      valid: true,
      // spawn the alert box after method completes
      alert: false,
      // method name
      name: '',
      // method state mutability
      stateMutability: '',
      // method inputs
      inputs: [],
      // regex to check for valid currency inputs
      validCurrency: validators.validCurrency
    }
  },
  mounted() {
    // extract relavent info from the method details
    this.name = this.method.name
    this.inputs = this.method.inputs
    this.stateMutability = this.method.stateMutability
  },
  computed: {
    // determines the alert type based on result text
    alertType: function() {
      return this.result.toLowerCase().includes('error') ? 'error' : 'success'
    }
  },
  methods: {
    clear() {
      // clears form variables
      this.$refs.form.reset()
    },
    // dynamically create validation rules based on input type
    rules(input) {
      // all fields are required
      let rules = [v => !!v || `${input.name} is required`]
      if (input.type.includes('int')) {
        // make sure only numbers are entered for integer fields
        rules.push(validators.numbersOnly)
      }
      if (input.type.includes('address')) {
        // make sure only valid ethereum addresses are entered for address fields
        rules.push(validators.validAddress)
      }
      return rules
    }
  },
  watch: {
    result: function() {
      if (this.result !== '') {
        // spawn the alert box if the result is not empty
        this.alert = true
      }
    }
  }
}
</script>
