<template>
    <v-card flat>
        <v-card-text>
            <v-layout wrap>
                <v-flex xs4 class="headline">
                    Events
                </v-flex>
                <v-spacer></v-spacer>
                <v-flex xs4>
                    <v-text-field append-icon="search" label="Search" v-model="search"></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-data-table :headers="headers" :items="res" :search="search" :pagination.sync="pagination" class="elevation-1">
                        <template slot="items" slot-scope="props">
                            <td>{{ props.item.blockNumber }}</td>
                            <td>{{ props.item.address }}</td>
                            <td>{{ props.item.event }}</td>
                            <td>
                                <div v-for="(v, i) in props.item.values" :key="i">{{`${v[0]}: ${v[1]}`}}</div>
                            </td>
                        </template>
                    </v-data-table>
                </v-flex>
            </v-layout>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
  name: 'Events',
  props: {
    contract: Object,
    events: Array
  },
  data() {
    return {
      res: [],
      headers: [
        {
          text: 'Block Number',
          align: 'left',
          value: 'blockNumber'
        },
        {
          text: 'Origin',
          align: 'left',
          value: 'address'
        },
        {
          text: 'Event',
          align: 'left',
          value: 'event'
        },
        {
          text: 'Values',
          align: 'left',
          value: 'values'
        }
      ],
      pagination: {
        rowsPerPage: 5
      },
      search: ''
    }
  },
  mounted() {
    this.lookup()
  },
  methods: {
    lookup() {
      this.contract.getPastEvents('allEvents', { fromBlock: 0, toBlock: 'latest' }).then(events => {
        this.res = events.map(({ address, blockNumber, event, returnValues }) => {
          const values = Object.entries(returnValues).filter(([k, v]) => !/^\d+$/.test(k))
          return {
            address,
            blockNumber,
            event: `${event}(${values.map(([k, v]) => k).join(', ')})`,
            values
          }
        })
      })
    }
  }
}
</script>
