<template>
  <Call :method="method" :loading="loading" :result="result" @click="methodExecute">
    <span v-if="!isError" slot="result">Transaction Hash:
      <a :href="`http://23.24.168.98:8000/#/tx/${result}`" target="_blank">{{ result }}</a>
    </span>
    <span v-if="isError" slot="result">{{ result }}</span>
  </Call>
</template>

<script>
// Displays executable (write) method forms
import Call from './Call'
import signer from 'eth-signer'
export default {
  name: 'Execute',
  props: {
    // contract object with method hooks
    contract: Object,
    // method details (name, input, state mutability)
    method: Object
  },
  data() {
    return {
      // spawns the loading spinner when submit button is pressed
      loading: false,
      // method name
      name: '',
      // alert result
      result: '',
      // method inputs
      inputs: []
    }
  },
  components: { Call },
  computed: {
    // determines the alert type based on result text
    isError: function() {
      return (
        this.result.toLowerCase().includes('error') || !this.result.toLowerCase().includes('0x')
      )
    }
  },
  mounted() {
    // extract relavent info from the method details
    this.name = this.method.name
    this.inputs = this.method.inputs
  },
  methods: {
    // executes the method on the blockchain (called when the submit button is pressed)
    async methodExecute() {
      // spawn the loading spinner to indicate processing has started
      this.loading = true
      // reset alert text
      this.result = ''
      try {
        // prepare inputs for submission
        const args = this.inputs.map(i => {
          if (i.type.includes('int')) {
            return parseInt(i.value)
          } else if (i.type.includes('bytes')) {
            const f = JSON.parse(i.value)
            return `0x${signer.txutils._encodeFunctionTxData(...f)}`
          }
          return i.value
        })
        // get all available accounts (if using metamask, there should only be one)
        const accounts = await window.web3.eth.getAccounts()
        // create the options object specifying the sender
        const options = { from: accounts[0] }
        // add payment to the options object if applicable
        if (this.inputs.payment) {
          options.value = window.web3.utils.toWei(this.inputs.payment, 'ether')
        }
        // execute the method
        const res = await this.contract.methods[this.name](...args).send(options)
        // record the transaction hash as the alert text (the user can then look this up on our block explorer)
        this.result = res.transactionHash
      } catch (err) {
        // if there was an error, display the error as alert text
        const error = err.message.split('.')[0]
        // check if the error is JSON related and report a more appropriate message
        this.result = /Unexpected token.*?in JSON at position/.test(error) ? 'Error: Invalid Byte Array.' : error
      } finally {
        // stop the loading spinner
        this.loading = false
      }
    }
  }
}
</script>
