<template>
  <Call :method="method" :loading="loading" :result="result" @click="lookup">
    <span slot="result">{{result}}</span>
  </Call>
</template>

<script>
// Displays query (read) method forms
import Call from './Call'
import signer from 'eth-signer'
export default {
  name: 'Query',
  props: {
    // contract object with method hooks
    contract: Object,
    // method details (name, input, state mutability)
    method: Object
  },
  data() {
    return {
      // spawns the loading spinner when submit button is pressed
      loading: false,
      // method name
      name: '',
      // method inputs
      inputs: [],
      // alert result
      result: ''
    }
  },
  components: { Call },
  mounted() {
    // determines the alert type based on result text
    this.name = this.method.name
    this.inputs = this.method.inputs
  },
  methods: {
    // executes a read-only blockchain call (called when the submit button is pressed)
    async lookup() {
      // spawn the loading spinner to indicate processing has started
      this.loading = true
      // reset alert text
      this.result = ''
      try {
        // prepare inputs for submission
        const args = this.inputs.map(i => {
          if (i.type.includes('int')) {
            return parseInt(i.value)
          } else if (i.type.includes('bytes')) {
            const f = JSON.parse(i.value)
            return `0x${signer.txutils._encodeFunctionTxData(...f)}`
          }
          return i.value
        })
        // call the method
        const res = await this.contract.methods[this.name](...args).call()
        // record the result of the call
        this.result = `Result: ${res}`
      } catch (err) {
        // if there was an error, display the error as alert text
        const error = err.message.split('.')[0]
        // check if the error is JSON related and report a more appropriate message
        this.result = /Unexpected token.*?in JSON at position/.test(error)
          ? 'Error: Invalid Byte Array.'
          : error
      } finally {
        // stop the loading spinner
        this.loading = false
      }
    }
  }
}
</script>
