<template>
  <v-card>
    <v-card-text>
      <span>{{name}}: </span>
      <span v-if="!Array.isArray(variable)">{{variable}}</span>
      <div v-if="Array.isArray(variable)" v-for="(v, i) in variable" :key="i">{{v}}</div>
    </v-card-text>
  </v-card>
</template>

<script>
// Displays variable information (read-only methods with no inputs called on page load)
// TODO: add a refresh button to be used instead of refreshing the page to see variable changes
export default {
  name: 'Variable',
  props: {
    // contract object with method hooks
    contract: Object,
    // method name
    name: String
  },
  data() {
    return {
      // variable result
      variable: ''
    }
  },
  mounted() {
    // lookup the variable on start up
    this.lookup()
  },
  methods: {
    // submits a read-only blockchain call to get variable info
    lookup() {
      this.contract.methods[this.name]()
        .call()
        .then(res => {
          this.variable = res
        })
    }
  }
}
</script>
