<template>
  <v-app>
    <v-toolbar dark fixed app color="primary">
      <img class="logo" src="http://cuvialabs.com/wp-content/uploads/cropped-CuviaSiteLogo-1.png" alt="logo" height="32" width="32" />
      <v-toolbar-title class="clickable" @click="home">Smart Contract Explorer</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <router-view v-if="!install && loggedIn"></router-view>
      <v-layout v-if="!loggedIn && !install" justify-center align-center class="ma-5">
        Login to MetaMask and refresh the page.
      </v-layout>
      <v-layout v-if="install" justify-center align-center class="ma-5">
        <span>Install <a href="https://metamask.io/" target="_blank">MetaMask</a> and refresh the page.</span>
      </v-layout>
    </v-content>
    <v-footer app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
import Web3 from 'web3'
export default {
  name: 'App',
  data() {
    return {
      // keeps track of if the user needs to login to metamask
      loggedIn: false,
      // keeps track of if the user needs to install metamask
      install: false
    }
  },
  mounted() {
    // sets up providers on startup
    this.init()
  },
  methods: {
    async init() {
      // Supports Metamask and Mist, and other wallets that provide 'web3'.
      if (typeof web3 !== 'undefined') {
        // Use the Mist/wallet provider.
        console.log('Connected')
        window.web3 = new Web3(web3.currentProvider)
        // checks available accounts to see if the user is logged in
        this.loggedIn = (await window.web3.eth.getAccounts()).length > 0
      } else {
        // there is no provider and the user needs to install metamask
        this.install = true
        console.log('Install Metamask.')
      }
    },
    home() {
      // used by button in upper left corner (clicking on the title) to redirect back to the home page
      this.$router.push({name: 'PreviewList'})
    }
  }
}
</script>

<style>
.clickable {
  cursor: pointer;
}
</style>

